$color_text_base: #2a2a2a;

$color_red: #ff7b7b;
$color_black: #000;
$color_blue: #358dee;
$color_green: #24c67b;
$color_white: #fff;
$color_gray-light: #f3f3f3;
$color_gray-middle: #fafafa;
$color_gray-empty: #b3b3b3;